/* Required height of parents of the Full Page Intro and Intro itself */
/*html,
body,
.view {
  height: 100%; 
}

.navbar {
  background-color: rgba(255, 255, 255, 0.1); 
}

.top-nav-collapse {
  background-color: #1C2331; }

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

.page-footer {
  background-color: #1C2331; }
*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:  white;
  opacity: 1; /* Firefox */
}
#axisLogoImg{
  width:50%;
  height: auto;
}
#axisNameImg
{
  width:70%;
  height: auto; 
}
@media screen and (max-width: 768px) {
  #axisLogoImg
  {
    width:80%;
    height: auto;
  }
  #axisNameImg
  {
    width:80%;
    height: auto; 
  } 
}
  #messageInfo{

  }
  #messageHeading{
    font-size: 30px;
    margin-bottom: 15px;
  }
  .resCarousel-inner .item {
        text-align: center;
    }
    
    .resCarousel-inner .item .tile div,
    .banner .item div {
        width: 100%;
        text-align: center;
        /*box-shadow: 0 1px 1px rgba(0, 0, 0, .1);*/
    }
    
    .resCarousel-inner .item h1 {
        display: table-cell;
        vertical-align: middle;
        color: white;
    }
    
    .item .tile div {
        color: white;
    }
    
    .item div h1 {
        background: rgba(0, 0, 0, .4);
    }

@media (min-width: 800px) and (max-width: 850px) {
        .navbar:not(.top-nav-collapse) {
            background: #1C2331!important;
        }
    }
    #memberName{
      font-size: 25px;
      color: white;
      font-weight: 800;
      margin-top: 7px;
    }
    #memberPost{
      font-size: 20px;
      color: white;
      margin-top: 7px; 
    }
    #memberImage{
      height: 200px;
      width: auto;
      background: rgba(50, 50, 100, 0.7);
      padding: 10px;
    }
    #committeeInfo{
      padding-right: 20px;
      padding-left: 20px;
    }
    #agenda{
      font-size: 20px;
    }
    #viewMember
    {
      height: 200px;
      width: 200px;
    }
    #committeeMask{
      background:rgba(0,0,0,0.7);
    }
    #socialIcons{
       color: white;
       font-size: 20px;
       border: 1px solid white;
       border-radius: 50%;
       height: 30px;
       width: 30px;
       padding: 4px;
       margin: 5px;
    }
    #socialIcons:hover{
      color: black;
      background-color: white;
    }
    #committeeHeading{
      font-size: 45px;
      color: white;
    }
    #registration:hover{
      background: rgba(255,255,255,0.9);
      color: black;
      border: 2px solid black;
    }
    #registration2:hover{
      background: rgba(255,255,255,0.9);
      color: black;
      border: 2px solid black;
    }
    #button2{
      background: rgba(255,255,255,0.9);
      color: black;
      font-size: 16px;
      padding: 5px;
    }
    #button2:hover{
      background: rgba(255,255,0,0.8);
      color: black;
    }
    
    #registration,#registration2{
      background-color: black;
      color: white;
      padding: 10px;
      border: 2px solid gray;
    }
    .nav-link:hover{
      color: white;
    }
    .card1:hover{
      border-bottom: 2px solid blue;
      border-radius: 50%;
      margin-bottom: -2px;
    }
    .card1{
      margin-top: 15px;
    }
    .card
    {
      padding-left: 30px;
      padding-right: 30px;
    }
    .mask{
      padding-left: 15%;
      padding-right: 15%;
    }
    .committeeName{
      font-size: 25px;
      color: white;
    }
    #logo{
      height: 2em;

    }

body.cd-overlay::after {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

a {
  color: #a9c056;
  text-decoration: none;
}



.cd-faq-group.selected {
  display: block;
}

.cd-faq-group 
{
  /* all groups visible */
  display: block;
}
.cd-faq-group > div  {
  background: #ffffff;
  margin-bottom: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
.cd-faq-group > div:hover {
  box-shadow: 0 1px 10px rgba(108, 125, 142, 0.3);
}

.cd-faq-trigger {
  position: relative;
  display: block;
  margin: 1.0em 0 .4em;
  line-height: 1.2;
}
  .cd-faq-trigger {
    font-size: 24px;
    font-size: 1.2rem;
    margin: 0;
    padding:15px;
    color:  #336600;
    font-weight: 1000;
  }
  .cd-faq-trigger::before, .cd-faq-trigger::after {
    /* arrow icon on the right */
    position: absolute;
    right: 24px;
    top: 50%;
    height: 2px;
    width: 13px;
    background: #cfdca0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }
  .cd-faq-trigger::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 32px;
  }
  .cd-faq-trigger::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .content-visible .cd-faq-trigger::before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .content-visible .cd-faq-trigger::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.cd-faq-content p {
  font-size: 18px;
  line-height: 1.4;
  color: black;
}
  .cd-faq-content {
    display: none;
    padding: 0 24px 30px;
  }
  .cd-faq-content p {
    line-height: 1.6;
  }
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

